<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="container">
          <div class="site">

                {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                  {{site.name}}<br />
                  {{site.email}}
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
